* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(-45deg, #468582, #3e9790, #27ca99, #f0ffb8);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    
    background-color: rgb(249, 240, 255);
    padding: 120px; 
    border: 2px solid rgb(249, 240, 255);
    border-radius: 00px;
    max-width: 1000%;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container label {
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
}

.container button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #1d473e;
    color: rgb(105, 211, 179);
    cursor: pointer;
}

.container button:hover {
    background-color: #8acbe9;
}

label{
    color: #170a52;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}